<md-card>
    <md-card-header>
        <div *ngIf="false" id="review-name">Reviewer Name - {{review.name}}</div>
        <md-card-title aria-label="review-name">{{review.name}}</md-card-title>
        <md-card-subtitle>{{review.date}}</md-card-subtitle>
        <app-ratings aria-label="Rating" [rating]="review.rating" [readonly]=readonly [itemId]="review.id" (ratingClick)="ratingComponetClick($event)">{{review.rating}} stars</app-ratings>
    </md-card-header>
    <md-card-content aria-label="Comment">
        {{review.comment}}
    </md-card-content>
</md-card>
