
.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating:not(:checked) > input {
    display: none;
}
.rating:not(:checked) > label {
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:200%;
    line-height:1.2;
    color:#525252;
}

.rating.readonly{
    cursor:default;
}

.rating > input:checked ~ label {
    color: #0000ff;
}

.rating:not(:checked) > label:focus,
.rating:not(:checked) > label:focus ~ label {
    color: #0000ff;
}

.rating > input:checked ~ label:focus,
.rating > input:checked ~ label:focus ~ label,
.rating > label:focus ~ input:checked ~ label {
    color: #0000ff;
}


.rating:not(:checked) > label:focus,
.rating:not(:checked) > label:focus ~ label {
    color: #0000ff;
}

.rating > input:checked ~ label:focus,
.rating > input:checked ~ label:focus ~ label,
.rating > label:focus ~ input:checked ~ label {
    color: #0000ff;
}

 /*Read only styling*/
.rating.readonly:not(:checked) > label:focus,
.rating.readonly:not(:checked) > label:focus ~ label {
    color: #525252;
}

.rating.readonly > input:checked ~ label:focus,
.rating.readonly > input:checked ~ label:focus ~ label,
.rating.readonly > label:focus ~ input:checked ~ label {
    color: #0000ff;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #0000ff;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #0000ff;
}


.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #0000ff;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #0000ff;
}

 /*Read only styling*/
.rating.readonly:not(:checked) > label:hover,
.rating.readonly:not(:checked) > label:hover ~ label {
    color: #525252;
}

.rating.readonly > input:checked ~ label:hover,
.rating.readonly > input:checked ~ label:hover ~ label,
.rating.readonly > label:hover ~ input:checked ~ label {
    color: #0000ff;
}
