.rating:not(:checked) > input {
    display: none;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating.readonly{
    cursor:default;
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}


.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

 /*Read only styling*/
.rating.readonly:not(:checked) > label:hover,
.rating.readonly:not(:checked) > label:hover ~ label {
    color: #ddd;
}

.rating.readonly > input:checked ~ label:hover,
.rating.readonly > input:checked ~ label:hover ~ label,
.rating.readonly > label:hover ~ input:checked ~ label {
    color: #f70;
}
