<main class="content-page">
  <article class="restaurant-review">
    <button color="primary" class="nav-button" md-button (click)="navigateToRestaurantList()">Return to Restaurant List</button>
    <app-restaurant [restaurant]="restaurant"></app-restaurant>

    <div class="review">
      <app-new-review (newReview)="addNewReview($event)"></app-new-review>
    </div>

    <div class="review" *ngFor="let review of reviews">
      <app-review [readonly]="true" [review]="review"></app-review>
    </div>
  </article>
</main>