<md-card>
    <div class="filter">
        <div class="filter-section">
            <h2>Cuisine</h2>
            <hr>
            <md-radio-group [(ngModel)]="filterModel.cuisine" (change)="changeFilter()">
                <md-radio-button class="radio-item-block" value="All">All</md-radio-button>
                <md-radio-button class="radio-item-block" value="Thai">Thai</md-radio-button>
                <md-radio-button class="radio-item-block" value="Italian">Italian</md-radio-button>
                <md-radio-button class="radio-item-block" value="Mediterranean">Mediterranean</md-radio-button>
                <md-radio-button class="radio-item-block" value="Chinese">Chinese</md-radio-button>
                <md-radio-button class="radio-item-block" value="Cafe">Cafe</md-radio-button>
                <md-radio-button class="radio-item-block" value="Takeaway">Takeaway</md-radio-button>
            </md-radio-group>
        </div>

        <div class="filter-section">
            <h2>City</h2>
            <hr>
            <md-radio-group [(ngModel)]="filterModel.city" (change)="changeFilter()">
                <md-radio-button class="radio-item-block" value="All">All</md-radio-button>
                <md-radio-button class="radio-item-block" value="Adelaide">Adelaide</md-radio-button>
                <md-radio-button class="radio-item-block" value="Brisbane">Brisbane</md-radio-button>
                <md-radio-button class="radio-item-block" value="Melbourne">Melbourne</md-radio-button>
                <md-radio-button class="radio-item-block" value="Sydney">Sydney</md-radio-button>
            </md-radio-group>
        </div>
    </div>
</md-card>