.title {
  width: 20%;
  
}
.fill-space {
  width: 70%;
}
.filter {
  width: 10%;
}

@media (max-width: 500px) {
    .title {
      width: 80%;
    }
    .fill-space {
      width: 0%;
    }
    .filter {
      width: 20%;
    }
}