<md-card>
    <md-card-header>
        <img md-card-avatar src="{{restaurant.image}}" alt="{{restaurant.name}} avatar">
        <md-card-title>{{restaurant.name}}</md-card-title>
        <md-card-subtitle>{{restaurant.cuisine}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{restaurant.image}}" alt="{{restaurant.name}} main picture">
    <md-card-content>
        <section>
            <p><strong>Address</strong></p>
            <p>{{restaurant.streetAddress}} <strong>{{restaurant.city}}</strong></p>

            <p><strong>Open Hours</strong></p>
            <table style="width:100%">
                <tr>
                    <td style="width:50%">Monday:</td>
                    <td style="width:50%">{{restaurant.monday}}</td>
                </tr>
                <tr>
                    <td>Tuesday:</td>
                    <td>{{restaurant.tuesday}}</td>
                </tr>
                <tr>
                    <td>Wednesday:</td>
                    <td>{{restaurant.wednesday}}</td>
                </tr>
                <tr>
                    <td>Thursday:</td>
                    <td>{{restaurant.thursday}}</td>
                </tr>
                <tr>
                    <td>Friday:</td>
                    <td>{{restaurant.friday}}</td>
                </tr>
                <tr>
                    <td>Saturday:</td>
                    <td>{{restaurant.saturday}}</td>
                </tr>
                <tr>
                    <td>Sunday:</td>
                    <td>{{restaurant.sunday}}</td>
                </tr>
            </table>
        </section>
    </md-card-content>
    <md-card-actions *ngIf="showLinks">
        <button md-button (click)="navigateToReviews(restaurant.id)">See Reviews</button>
    </md-card-actions>
</md-card>