<header>
  <md-toolbar>
    <span class="title">Restaurant Reviewer</span>
    <span class="fill-space"></span>
    <span class="filter">
    <button md-button (click)="toggleFilter()">
      <i class="material-icons">filter_list</i>
    </button>
</span>
  </md-toolbar>
</header>

<app-restaurant-filter *ngIf="!filterHidden" (filterChanged)="filterChanged($event)"></app-restaurant-filter>

<main class="content-page">
  <article class="restaurant-item" *ngFor="let restaurant of restaurants">
    <app-restaurant [restaurant]="restaurant" [showLinks]="true"></app-restaurant>
  </article>
</main>