.content-page {
  padding:20px;
  flex-flow: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.restaurant-item {
    margin: 20px;
    width: 350px;
}

.title {
  width: 20%;
  
}
.fill-space {
  width: 70%;
}
.filter {
  width: 10%;
}

@media (max-width: 500px) {
    .title {
      width: 80%;
    }
    .fill-space {
      width: 0%;
    }
    .filter {
      width: 20%;
    }
}